<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="asg_propertysystem" id="asg_propertysystem">
			<module before="Magento_Backend" name="ASG_PropertySystem"/>
		</route>
	</router>
</config>